h1 {
    background-color: violet;
    text-align: center;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ7RR_Wobml0XD6EsK75ARoyzH-UmkATLrheQ&s")
    }
h2 {
    color: skyblue;
    text-align: center;
}
body {
 background-color: black;
}
header {
color: white;
text-align: end;
}
p {
    background-color: skyblue;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQYBwxHL91O6hK9pBH9Edl2w72vcxBoj2o_fQ&s");
    background-size: cover;

}
